<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.prasanth.medicinetracker</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/prash/lab/tech-mastery/python/medicine-tracker/.venv/bin/python3</string>
            <string>/Users/prash/lab/tech-mastery/python/medicine-tracker/medicine_tracker.py</string>
        </array>

        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>8</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>

        <key>StandardOutPath</key>
        <string>/Users/prash/Library/Logs/medicine_tracker_output.log</string>

        <key>StandardErrorPath</key>
        <string>/Users/prash/Library/Logs/medicine_tracker_error.log</string>
    </dict>
</plist>